In [1]:
import pandas as pd

Load data

In [2]:
col_names = ["0", "severity", "2", "3", "4", "5", "6", "7", "timestamp", "9", "10", "11"]
data = pd.read_csv("TcScopeServer.log", names=col_names)

Drop empty columns

In [3]:
data.dropna(axis=1)

,0,severity,2,3,5,7,timestamp
0,ScopeServerTraceSource,Information,8442,Tracing level switched to Information.,6716,7,2019-04-18T06:50:12.4922476Z
1,ScopeServerTraceSource,Information,8442,Tc3 Scope Server license <product-level='BASE'...,6716,7,2019-04-18T06:50:39.5546777Z
2,ScopeServerTraceSource,Information,8442,Tracing level switched to Information.,6716,7,2019-04-18T06:50:39.6087080Z
3,ScopeServerTraceSource,Information,8442,Server reset called.,6716,7,2019-04-18T06:50:43.7159098Z
4,ScopeServerTraceSource,Information,8442,Client (141.63.178.150.1.1:34053 Reset called),6716,7,2019-04-18T06:50:43.7159098Z
...,...,...,...,...,...,...,...
421367,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",7048,150,2019-12-17T08:58:53.9386357Z
421368,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",7048,275,2019-12-17T08:58:56.0467296Z
421369,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",7048,139,2019-12-17T08:58:56.3407476Z
421370,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",7048,136,2019-12-17T08:58:58.5108983Z
421371,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",7048,150,2019-12-17T08:58:59.0388994Z

Convert time strings to datetime

In [4]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

Define  a timespan

In [5]:
time_start = pd.to_datetime("2019-12-17T00:00:00Z")
time_end = pd.to_datetime("2019-12-18T00:00:00Z")

Extract data

In [6]:
data_time_span = data[(data['timestamp'] > time_start) & (data['timestamp'] < time_end)]
data_time_span.head()

,0,severity,2,3,4,5,6,7,timestamp,9,10,11
396217,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",NaN,7048,NaN,275,2019-12-17 00:00:04.234241100+00:00,NaN,NaN,NaN
396218,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",NaN,7048,NaN,139,2019-12-17 00:00:04.524277800+00:00,NaN,NaN,NaN
396219,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",NaN,7048,NaN,275,2019-12-17 00:00:09.334331100+00:00,NaN,NaN,NaN
396220,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",NaN,7048,NaN,139,2019-12-17 00:00:09.624317+00:00,NaN,NaN,NaN
396221,ScopeServerTraceSource,Information,8442,"Record was stopped, because at least one chann...",NaN,7048,NaN,275,2019-12-17 00:00:14.434505700+00:00,NaN,NaN,NaN

Groub by severity

In [7]:
data_group_severity = data.groupby("severity")
data_group_severity.size().sort_values(ascending=False)

severity
Warning        326059
Information     94720
Error             593
dtype: int64

In [8]:
data_group_severity.count()

,0,2,3,4,5,6,7,timestamp,9,10,11
severity,,,,,,,,,,,
Error,593,593,593,0,593,0,593,593,0,0,0
Information,94720,94720,94720,0,94720,0,94720,94720,0,0,0
Warning,326059,326059,326059,0,326059,0,326059,326059,0,0,0

Split data by severity

In [9]:
data_error = data_group_severity.get_group("Error")
data_warning = data_group_severity.get_group("Warning")
data_information = data_group_severity.get_group("Information")

In [10]:
data_error.head()

,0,severity,2,3,4,5,6,7,timestamp,9,10,11
126,ScopeServerTraceSource,Error,8442,"ClientLiveCycle timeout, no live cycles from c...",NaN,6716,NaN,172,2019-04-18 06:54:24.685617900+00:00,NaN,NaN,NaN
131,ScopeServerTraceSource,Error,8442,"ClientLiveCycle timeout, no live cycles from c...",NaN,6716,NaN,160,2019-04-18 08:40:06.470435700+00:00,NaN,NaN,NaN
168,ScopeServerTraceSource,Error,8442,"ClientLiveCycle timeout, no live cycles from c...",NaN,6716,NaN,160,2019-04-18 08:42:03.850115200+00:00,NaN,NaN,NaN
559,ScopeServerTraceSource,Error,8442,"ClientLiveCycle timeout, no live cycles from c...",NaN,6716,NaN,127,2019-04-25 14:33:46.021452900+00:00,NaN,NaN,NaN
561,ScopeServerTraceSource,Error,8442,"ClientLiveCycle timeout, no live cycles from c...",NaN,6716,NaN,91,2019-04-25 14:33:46.866444500+00:00,NaN,NaN,NaN